.container {
  margin: 0 20px;
}

/* Main */

.add-user {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.add_user {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_user h2 {
  font-size: 24px;
  font-weight: bold;
}

.add_user__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}

.add_user__button {
  display: flex;
  column-gap: 40px;
}

.add_user__modal p {
  color: red;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}

header p {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

/* Registration */

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.registerForm p {
  font-size: 24px;
  margin-top: 30px;
}

.registerForm div p {
  color: #d41a1a;
  font-size: 12px;
  margin-top: 5px;
}

/* error, success */

.error-popup {
  position: fixed;
  top: 20px;
  right: 50%;
  background-color: #f44336;
  color: white;
  padding: 16px;
  border-radius: 4px;
  z-index: 2000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.success-popup {
  position: fixed;
  top: 20px;
  right: 40%;
  background-color: #3ff436;
  color: white;
  padding: 16px;
  border-radius: 4px;
  z-index: 2000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}